.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
#caja{
  padding: 30px;
  height: auto; width: 90%;
  display: block;
  background-color: yellowgreen;
  border-radius: 10px;
  border: none;
}
.head{
  float: left;
  margin: 0px; padding: 5px;
  border-radius: 5px;
  background: forestgreen;
  color:white;
  font-weight: bold;
  position: fixed;
  display: block;
  left: 10%;
  top: 8%;
}
#tuit{
  width: 99.5%;
  height: 120px;
  margin-bottom: 6px;
}

.list_tuits{
  padding: 10px 5px;
  background-color: yellowgreen;
  color:white;
  border-radius: 10px;
  border:3px dotted white;
  margin-bottom: 20px;
}
.boton{
  background-color: #44c767;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  padding: 5px 16px;
  border:none;
}

.boton:focus{
  background-color: #5cbf2a;
}


/* The Modal (background) */
.modal {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto;
    padding: 10px;
    width: 30%;
    background-color: salmon;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    color:white;
}

/* The Close Button */
.close {
  background: #606061;
  color: white;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
  margin-right: 35%;
  margin-top: 15.5%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
}