<h1>Intenta Tuitear</h1>
<div id="caja">
  <form method="post" action="/fetch">
  <input type="text" name="userName" placeholder="Ingresa tu usuario">
    <br>
    <input type="submit" class="boton" value="Acceder">
  </form>
</div>
<br><br><br>

  <!-- :::::: Modal :::::: -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <h2>Aviso!</h2>
    <p>Se recomienda no enviar un tuit vacio</p>
  </div>

</div>